// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #327AB8;

body {
  font-family: sans-serif;
}

div {
  margin: 8px 0;
  padding: 8px 16px;
  border-left: solid 8px lightgray;
}

#answer {
  background-color: #FEFAE0
}

#btn-primary {
  color: white;
  background-color: $blue;
  padding: 8px 16px;
  border-radius: 2px;
  border: solid 2px $blue;
  margin-left: 0;
}

#input {
  padding: 8px 0;
  margin-right: 0;
}

